// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// styles for Main components
#main{
  width: 1025px;
  margin: auto;
}

#main-nav{
  margin: 0px;
  width: 100%;
  height: auto;
}

#main-nav-center{
  margin: auto;
  text-align: center;
}

#logo{
  min-height: 135px;
}

#main-tab-wrapper{
  outline-style: solid;
  outline-width: 1px;
  margin: 20px;
  padding: 20px;
  min-height: 400px;
}

#chem-form-wrapper{
  width: 60%;
}

#mod-viewer-wrapper{
  width: 500px;
}
#result-local-index{
  display: inline-block;
  width: 218px;
  margin: 0px;
}

#result-tab-wrapper{
  outline-style: solid;
  outline-width: 1px;
  width: auto;
  height: auto;
  padding: 10px;
}

.result-block{
  margin: 5px;
  padding: 10px;
  margin-top: 0px;
  padding-top: 0px;
  display: inline-block;
  vertical-align: top;
}

#loader-nav{
  margin-bottom: 20px;
}

#result-raw{
  padding: 5px;
  width: 500px;
  overflow: scroll;
}

#property-info{
  width:400px;
}

#vis-list{
  list-style-type: none;
}

#file-raw{
  width:500px;
  height:400px;
  overflow-y: scroll;
}

.vis-el{
  display: inline;
}
