// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// styles for Main components
#main-nav{
  margin: 0px;
  width: 100%;
  height: auto;
}

#main-nav-center{
  margin: auto;
  text-align: center;
}

#main-nav-list{
  padding: 0px;
  list-style-type: none;
}

#main-nav-list>li{
  display: inline;
}

#main-tab-wrapper{
  outline-style: solid;
  outline-width: 1px;
  margin: 20px;
  padding: 20px;
}

.btn-main-nav{
	border-radius: 0px;
	padding: 12px 20px 12px 20px;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 0.07rem;
	border: none;
	background-color: white;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-main-nav:focus{
  outline: none;
}

#result-nav-list{
  list-style-type: none;
  padding: 0px;
}

#result-nav-list>li{
  display: inline;
}

#result-tab-wrapper{
  outline-style: solid;
  outline-width: 1px;
  width:auto;
  height:auto;
}
.result-block{
  margin: 5px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}

#result-raw{
  width: 500px;
  overflow: scroll;
}

#property-info{
  width:400px;
}

.btn-nav.light, .nav-pills>li>a.light{
	color: #808080;
	-moz-box-shadow: inset 0 0 0 1px #c0c0c0;
	-webkit-box-shadow: inset 0 0 0 1px #c0c0c0;
	box-shadow: inset 0 0 0 1px #c0c0c0;
}

.btn-nav.dark, .nav-pills>li>a.dark{
	color: #606060;
	-moz-box-shadow: inset 0 0 0 1px #808080;
	-webkit-box-shadow: inset 0 0 0 1px #808080;
	box-shadow: inset 0 0 0 1px #808080;
}

.nav-pills>li>a:hover{
	/*text-transform: uppercase;*/
	border: none;
	-moz-box-shadow: inset 0 0 0 4px #c0c0c0;
	-webkit-box-shadow: inset 0 0 0 4px #c0c0c0;
	box-shadow: inset 0 0 0 4px #c0c0c0;
	text-decoration: none;
	background-color: #c0c0c0;
	/*color: rgb(255, 255, 255);*/
}

.btn-main-nav:hover{
	border: none;
	-moz-box-shadow: inset 0 0 0 4px #79B837;
	-webkit-box-shadow: inset 0 0 0 4px #79B837;
	box-shadow: inset 0 0 0 4px #79B837;
	text-decoration: none;
	background-color: #79B837 !important;
	color: rgb(255, 255, 255);
}

.nav-pills>.spacer{
	font-weight: 600;
	margin: 10px;
	padding-left: 5px;
}
